<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: darkgreen">Create Student</h1>
<p><a href="/students">Student List</a></p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-student}" th:object="${student}" method="post">
    <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" ><br><br>
    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
    <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}"><br><br>

    <label for="point">Point:</label>
        <input type="number" step="0.01" id="point" th:field="*{point}"><br><br>
    <label>Gender:</label><br>
        <input type="checkbox" id="male" name="gender" value="Male" th:checked="${student.gender == 'Male'}">
    <label for="male">Male</label><br>
        <input type="checkbox" id="female" name="gender" value="Female" th:checked="${student.gender == 'Female'}">
    <label for="female">Female</label><br><br>

    <tr>
        <td>Class:</td>
        <td>
            <select th:field="*{classes}">
                <option th:each="c : ${classes}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </td>
    </tr><br><br>

    <input type="submit" value="Create">
</form>

</body>
</html>